.buttons {
  background-color: white;
  border-radius: 5px;
  color: black;
  margin: 10px 30px 10px 0px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  box-shadow: 0px 3px 6px #00000029;
}
.submitBtn {
  font-size: 20px;
  border-radius: 15px;
  margin: auto;
  display: block;
  padding: 10px 25px;
}
.textFont {
  font-size: 16px;
}
